/node_modules
/public/hot
/public/js/admin.js
/public/js/frontend.js
/public/js/vendor.js
/public/js/app.js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/config
composer.json
package.json
composer.lock
package-lock.json
